/* #game-grid-square {
  background-color: palegreen;
  height: 20px;
  width: 20px;
  border: 2px;
} */

.map{
  display: flex;
  flex-wrap: wrap;
  width: 663px;
  height: 663px;
}

.map > div {
  border: 1px dotted rgba(18, 201, 159, 0.2);
  background-color: whitesmoke;
  width: 10.5px;
}