/* #game-grid-square {
  background-color: palegreen;
  height: 20px;
  width: 20px;
  border: 2px;
} */
.square {
  background :rgb(153, 213, 69);
  width: 10px;
  border-color: rgb(149, 145, 82); 
  border-style:solid;
}

.map{
  display: flex;
  flex-wrap: wrap;
  width: 663px;
  height: 663px;
}
